@mixin clearfix() {
	*zoom:1;

	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}


.nth-mailchimp-notifier{
    h2{
        font-size: 1.3em;
    }
    .templates{
        @include clearfix();
    }

    .box{
        img{
	          @include clearfix();
            margin-bottom: 10px;
            border: 1px solid #fafafa;
						width: 250px;
						margin-top: 10px;
	      }
        label{
            @include clearfix();
        }
        width: 30%;
        float: left;
        height: 180px;
				overflow: hidden;
				margin-bottom: 20px;
    }
}

.clear{
  clear:both; 
}
